/*Main Slider Section Start*/
.slides-navigation .prev, .slides-navigation .next {
    height: 47px; width: 47px; background-size: cover;
}

.slides-navigation a.prev {
    left: 20px; background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(../img/icons/next.png);
}
.overlay{
    height: 100%; width: 100%; background: rgba(0,0,0,.4); position: absolute; z-index: 3;
}
/*Main Slider Section End*/

.section{
    padding: 100px 0;
}

/*About Section Start*/
.title-message{
    position: absolute; z-index: 6; top: 40%; text-align: center; width: 100%; color: white;
}
.title-message .heading p.main{
    font-size: 50px; font-weight: 100; letter-spacing: 10px; text-transform: uppercase;

}
.title-message .heading p.sub{
    font-size: 20px; font-weight: 100; letter-spacing: 10px;
}
/*About Section End*/

/*Skill Section Start*/
.skill-section{
    background: #e74c3c; color: white;
}
.chart{
    height: 152px; width: 152px; display: inline-block; position: relative;
}
canvas{
    position: absolute; left: 0; top: 0;
}
.percent{
    font-size: 30px; color: black; line-height: 152px;
}
.percent:after{
    content: '%';
}
