/*Main Slider Section Start*/
.slides-navigation{
    z-index: 6;
}
 .prev, .slides-navigation .next {
    height: 47px; width: 47px; background-size: cover;
}

.slides-navigation a.prev {
    left: 20px; background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(../img/icons/next.png);
}
.overlay{
    height: 100%; width: 100%; background: rgba(0,0,0,.4); position: absolute; z-index: 3;
}
/*Main Slider Section End*/

.section{
    padding: 100px 0;
}

/*About Section Start*/
.title-message{
    position: absolute; z-index: 6; top: 40%; text-align: center; width: 100%; color: white;
}
.title-message .heading p.main{
    font-size: 50px; font-weight: 100; letter-spacing: 10px; text-transform: uppercase;

}
.title-message .heading p.sub{
    font-size: 20px; font-weight: 100; letter-spacing: 10px;
}
/*About Section End*/

/*Skill Section Start*/
.skill-section{
    background: #e74c3c; color: white;
}
.chart{
    height: 152px; width: 152px; display: inline-block; position: relative;
}
canvas{
    position: absolute; left: 0; top: 0;
}
.percent{
    font-size: 30px; color: black; line-height: 152px;
}
.percent:after{
    content: '%';
}
/*Skill Section End*/

/*Stats Section Start*/
.square-item{
    text-align: center; margin-top: 30px;
}
.square-inner-container{
    border: 2px solid #444444; padding: 50px 15px 35px; border-top: none; position: relative;
}
.square-inner-container:before, .square-inner-container:after{
    content: ''; width: 30%; border-bottom: 2px solid #444444; position: absolute; top: 0;
}
.square-inner-container:before{
    left: 0;
}
.square-inner-container:after{
    right: 0;
}
.square-icon{
    position: absolute; width: 40%; left: 30%; top: -30px; height: 60px; font-size: 40px;
}
/*Stats Section End*/

/*Contact Section Start*/
.contact-section{
    background-color: #e74c3c; color: white; text-align: center;
}
.contact-btn{
    color: white; border: 1px solid white; padding: 15px 30px; display: inline-block; margin-top: 20px;
}
.contact-btn:hover{
    background: white; border: 1px solid #e74c3c; text-decoration: none;
}
/*Contact Section End*/

/* Navigation Bar Start */
#navigation{
    background-color: #e74c3c; padding: 10px 15px;
}
#navigation li{
    padding: 0 15px;
}
#navigation li a{
    color: white;
}
.navbar-brand, .navbar-brand:hover{
    color: white;
}
/* Navigation Bar End */
